<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>wlblog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2381</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3503</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
