<div class="agile-grids <% ctrl.page2Style %>" ng-style="showContent" ng-style="{
  '-webkit-transition-duration': ctrl.speed + 'ms',
  '-moz-transition-duration': ctrl.speed + 'ms',
  '-ms-transition-duration': ctrl.speed + 'ms',
  '-o-transition-duration': ctrl.speed + 'ms',
  'transition-duration': ctrl.speed + 'ms'
}" cg-busy="{promise:vm.promise,message:vm.message,backdrop:vm.backdrop,delay:vm.delay,minDuration:vm.minDuration}">
				<!-- tables -->

				<div class="agile-tables">
					<div class="w3l-table-info">
					  <h2>文章列表</h2>
					    <table id="table">
						<thead>
						  <tr>
							<th>标题</th>
							<th>查看次数</th>
							<th>编辑</th>
							<th>发布时间</th>
              <th>操作</th>
						  </tr>
						</thead>
						<tbody>

                <tr ng-repeat="article in vm.articles">
  							<td data-th="标题"><span class="bt-content"><% article.art_title %></span></td>
  							<td data-th="查看次数"><span class="bt-content"><% article.art_view %></span></td>
  							<td data-th="编辑"><span class="bt-content"><% article.art_editor %></span></td>
  							<td data-th="发布时间"><span class="bt-content"><% article.art_time %></span></td>
                <td data-th="操作">
                  <div class="dropdown">
			            <a href="#" title="" class="btn" data-toggle="dropdown" aria-expanded="false">
			                <i class="fa fa-cog icon_8"></i>
			            <div class="ripple-wrapper"></div></a>
			            <ul class="dropdown-menu float-right">
			                <li>
			                    <a ng-click="vm.toEditarticle(article)" title="">
			                        <i class="fa fa-pencil-square-o icon_9"></i>
			                        编辑
			                    </a>
			                </li>
			                <li>
			                    <a ng-click="vm.toDeleteCatalog(article)" title="">
			                        <i class="fa fa-times" icon_9=""></i>
			                        删除
			                    </a>
			                </li>
			            </ul>
			        </div>
                </td>

  						  </tr>

						</tbody>
					  </table>
					</div>

				</div>
				<!-- //tables -->
			</div>
