<div class="<% ctrl.page2Style %>" ng-style="showContent" ng-style="{
  '-webkit-transition-duration': ctrl.speed + 'ms',
  '-moz-transition-duration': ctrl.speed + 'ms',
  '-ms-transition-duration': ctrl.speed + 'ms',
  '-o-transition-duration': ctrl.speed + 'ms',
  'transition-duration': ctrl.speed + 'ms'
}"  ng-init="app.settings.container = false;">

<div class="page-container" ng-style="page_container">
<!--/content-inner-->
<div class="left-content">
<div class="mother-grid-inner">
<!--header start here-->
<div class="header-main">
<div class="logo-w3-agile">
<h1><a href="index.html">Pooled</a></h1>
</div>
<div class="w3layouts-left">

<!--search-box-->
<div class="w3-search-box">
<form action="#" method="post">
<input type="text" placeholder="Search..." required="">
<input type="submit" value="">
</form>
</div><!--//end-search-box-->
<div class="clearfix"> </div>
</div>
<div class="w3layouts-right">
<div class="profile_details_left"><!--notifications of menu start -->
<ul class="nofitications-dropdown">
<li class="dropdown head-dpdn">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
<ul class="dropdown-menu">
<li>
<div class="notification_header">
<h3>You have 3 new messages</h3>
</div>
</li>
<li><a href="#">
<div class="user_img"><img src="images/in11.jpg" alt=""></div>
<div class="notification_desc">
<p>Lorem ipsum dolor</p>
<p><span>1 hour ago</span></p>
</div>
<div class="clearfix"></div>
</a></li>
<li class="odd"><a href="#">
<div class="user_img"><img src="images/in10.jpg" alt=""></div>
<div class="notification_desc">
<p>Lorem ipsum dolor </p>
<p><span>1 hour ago</span></p>
</div>
<div class="clearfix"></div>
</a></li>
<li><a href="#">
<div class="user_img"><img src="images/in9.jpg" alt=""></div>
<div class="notification_desc">
<p>Lorem ipsum dolor</p>
<p><span>1 hour ago</span></p>
</div>
<div class="clearfix"></div>
</a></li>
<li>
<div class="notification_bottom">
<a href="#">See all messages</a>
</div>
</li>
</ul>
</li>
<li class="dropdown head-dpdn">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
<ul class="dropdown-menu">
<li>
<div class="notification_header">
<h3>You have 3 new notification</h3>
</div>
</li>
<li><a href="#">
<div class="user_img"><img src="images/in8.jpg" alt=""></div>
<div class="notification_desc">
<p>Lorem ipsum dolor</p>
<p><span>1 hour ago</span></p>
</div>
<div class="clearfix"></div>
</a></li>
<li class="odd"><a href="#">
<div class="user_img"><img src="images/in6.jpg" alt=""></div>
<div class="notification_desc">
<p>Lorem ipsum dolor</p>
<p><span>1 hour ago</span></p>
</div>
<div class="clearfix"></div>
</a></li>
<li><a href="#">
<div class="user_img"><img src="images/in7.jpg" alt=""></div>
<div class="notification_desc">
<p>Lorem ipsum dolor</p>
<p><span>1 hour ago</span></p>
</div>
<div class="clearfix"></div>
</a></li>
<li>
<div class="notification_bottom">
<a href="#">See all notifications</a>
</div>
</li>
</ul>
</li>
<li class="dropdown head-dpdn">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
<ul class="dropdown-menu">
<li>
<div class="notification_header">
<h3>You have 8 pending task</h3>
</div>
</li>
<li><a href="#">
<div class="task-info">
<span class="task-desc">Database update</span><span class="percentage">40%</span>
<div class="clearfix"></div>
</div>
<div class="progress progress-striped active">
<div class="bar yellow" style="width:40%;"></div>
</div>
</a></li>
<li><a href="#">
<div class="task-info">
<span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
<div class="clearfix"></div>
</div>
<div class="progress progress-striped active">
<div class="bar green" style="width:90%;"></div>
</div>
</a></li>
<li><a href="#">
<div class="task-info">
<span class="task-desc">Mobile App</span><span class="percentage">33%</span>
<div class="clearfix"></div>
</div>
<div class="progress progress-striped active">
<div class="bar red" style="width: 33%;"></div>
</div>
</a></li>
<li><a href="#">
<div class="task-info">
<span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
<div class="clearfix"></div>
</div>
<div class="progress progress-striped active">
<div class="bar  blue" style="width: 80%;"></div>
</div>
</a></li>
<li>
<div class="notification_bottom">
<a href="#">See all pending tasks</a>
</div>
</li>
</ul>
</li>
<div class="clearfix"> </div>
</ul>
<div class="clearfix"> </div>
</div>
<!--notification menu end -->

<div class="clearfix"> </div>
</div>
<div class="profile_details w3l">
<ul>
<li class="dropdown profile_details_drop">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
<div class="profile_img">
<span class="prfil-img"><img src="images/in4.jpg" alt=""> </span>
<div class="user-name">
<p>Malorum</p>
<span>Administrator</span>
</div>
<i class="fa fa-angle-down"></i>
<i class="fa fa-angle-up"></i>
<div class="clearfix"></div>
</div>
</a>
<ul class="dropdown-menu drp-mnu">
<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
</ul>
</li>
</ul>
</div>

<div class="clearfix"> </div>
</div>
<!--heder end here-->
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a> <i class="fa fa-angle-right"></i></li>
</ol>
<div style="position:relative;">
  <div ui-view="segmentContainer" class="anim-in-out <% ctrl.mainViewStyle %>" style="position:absolute;width:100%;" data-anim-sync="<% ctrl.sync %>"
  			data-anim-speed="<% ctrl.speed %>"
  			ng-style="{
  				'-webkit-transition-duration': ctrl.speed + 'ms',
  				'-moz-transition-duration': ctrl.speed + 'ms',
  				'-ms-transition-duration': ctrl.speed + 'ms',
  				'-o-transition-duration': ctrl.speed + 'ms',
  				'transition-duration': ctrl.speed + 'ms'
  			}">
  </div>

</div>
<!--four-grids here-->
<!--//four-grids here-->
<!--agileinfo-grap-->
<!--//agileinfo-grap-->
<!--photoday-section-->


<!--//photoday-section-->
<!--w3-agileits-pane-->
<!--//w3-agileits-pane-->
<!-- script-for sticky-nav -->
<script>
$(document).ready(function() {
var navoffeset=$(".header-main").offset().top;
$(window).scroll(function(){
var scrollpos=$(window).scrollTop();
if(scrollpos >=navoffeset){
$(".header-main").addClass("fixed");
}else{
$(".header-main").removeClass("fixed");
}
});

});
</script>
<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->
<!-- <div class="copyrights">
<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.mycodes.net/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
</div> -->
<!--COPY rights end here-->
</div>
</div>
<!--//content-inner-->

<!--/sidebar-menu-->
<div class="sidebar-menu">
<header class="logo1">
<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
</header>
<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
<div class="menu">
<ul id="menu" >

<li><a ng-class="{active: $state.includes('DashboardView')}" ui-sref="DashboardView.intro"><i class="fa fa-tachometer"></i> <span>概述</span><div class="clearfix"></div></a></li>

<li id="menu-academico" ><a><i class="fa fa-file-text-o"></i>  <span>分类管理</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
<ul id="menu-academico-sub" >
<li id="menu-academico-boletim" ><a ng-class="{active: $state.includes('DashboardView')}" ui-sref="DashboardView.catalog">分类列表</a></li>
<li id="menu-academico-avaliacoes" ><a ng-class="{active: $state.includes('DashboardView')}" ui-sref="DashboardView.newcatalog">新建分类</a></li>
</ul>
<li id="menu-academico" ><a><i class="fa fa-picture-o"></i>  <span>文章管理</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
<ul id="menu-academico-sub" >
<li id="menu-academico-boletim" ><a ng-class="{active: $state.includes('DashboardView')}" ui-sref="DashboardView.article">文章列表</a></li>
<li id="menu-academico-avaliacoes" ><a ng-class="{active: $state.includes('DashboardView')}" ui-sref="DashboardView.newarticle">添加文章</a></li>
</ul>

<li id="menu-academico" ><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Charts</span><div class="clearfix"></div></a></li>
<li id="menu-academico" ><a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i><span> Short Codes</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
<ul id="menu-academico-sub" >
<li id="menu-academico-avaliacoes" ><a href="icons.html">Icons</a></li>
<li id="menu-academico-avaliacoes" ><a href="typography.html">Typography</a></li>
<li id="menu-academico-avaliacoes" ><a href="faq.html">Faq</a></li>
</ul>
</li>
<li id="menu-academico" ><a href="errorpage.html"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>Error Page</span><div class="clearfix"></div></a></li>
<li id="menu-academico" ><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i><span> UI Components</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
<ul id="menu-academico-sub" >
<li id="menu-academico-avaliacoes" ><a href="button.html">Buttons</a></li>
<li id="menu-academico-avaliacoes" ><a href="grid.html">Grids</a></li>
</ul>
</li>
<li><a href="tabels.html"><i class="fa fa-table"></i>  <span>Tables</span><div class="clearfix"></div></a></li>
<li><a href="maps.html"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Maps</span><div class="clearfix"></div></a></li>
<li id="menu-academico" ><a href="#"><i class="fa fa-file-text-o"></i>  <span>Pages</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
<ul id="menu-academico-sub" >
<li id="menu-academico-boletim" ><a href="calendar.html">Calendar</a></li>
<li id="menu-academico-avaliacoes" ><a href="signin.html">Sign In</a></li>
<li id="menu-academico-avaliacoes" ><a href="signup.html">Sign Up</a></li>


</ul>
</li>
<li><a href="#"><i class="fa fa-check-square-o nav_icon"></i><span>Forms</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
<ul>
<li><a href="input.html"> Input</a></li>
<li><a href="validation.html">Validation</a></li>
</ul>
</li>
</ul>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
<script>
var toggle = true;
$(".sidebar-icon").click(function() {
if (toggle)
{
$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
$("#menu span").css({"position":"absolute"});
}
else
{
$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
setTimeout(function() {
$("#menu span").css({"position":"relative"});
}, 400);
}

toggle = !toggle;
});
</script>
