<div class="agile-grids <% ctrl.page2Style %>" ng-style="showContent" ng-style="{
  '-webkit-transition-duration': ctrl.speed + 'ms',
  '-moz-transition-duration': ctrl.speed + 'ms',
  '-ms-transition-duration': ctrl.speed + 'ms',
  '-o-transition-duration': ctrl.speed + 'ms',
  'transition-duration': ctrl.speed + 'ms'
}" cg-busy="{promise:vm.promise,message:vm.message,backdrop:vm.backdrop,delay:vm.delay,minDuration:vm.minDuration}">
				<!-- tables -->

				<div class="agile-tables">
					<div class="w3l-table-info">
					  <h2>分类信息</h2>
					    <table id="table">
						<thead>
						  <tr>
							<th>名字</th>
							<th>标题</th>
							<th>描述</th>
							<th>关键字</th>
							<th>浏览次数</th>
							<th>排序</th>
              <th>操作</th>
						  </tr>
						</thead>
						<tbody>

                <tr ng-repeat="catagory in vm.catagorys">
  							<td data-th="名字"><span class="bt-content"><% catagory.cate_name %></span></td>
  							<td data-th="标题"><span class="bt-content"><% catagory.cate_title %></span></td>
  							<td data-th="描述"><span class="bt-content"><% catagory.cate_description %></span></td>
  							<td data-th="关键字"><span class="bt-content"><% catagory.cate_keywords %></span></td>
  							<td data-th="浏览次数"><span class="bt-content"><% catagory.cate_view %></span></td>
  							<td data-th="排序"><span class="bt-content"><% catagory.cate_order %></span></td>
                <td data-th="排序">
                  <div class="dropdown">
			            <a href="#" title="" class="btn" data-toggle="dropdown" aria-expanded="false">
			                <i class="fa fa-cog icon_8"></i>
			            <div class="ripple-wrapper"></div></a>
			            <ul class="dropdown-menu float-right">
			                <li>
			                    <a ng-click="vm.toEditCatalog(catagory)" title="">
			                        <i class="fa fa-pencil-square-o icon_9"></i>
			                        编辑
			                    </a>
			                </li>
			                <li>
			                    <a ng-click="vm.toDeleteCatalog(catagory)" title="">
			                        <i class="fa fa-times" icon_9=""></i>
			                        删除
			                    </a>
			                </li>
			            </ul>
			        </div>
                </td>

  						  </tr>

						</tbody>
					  </table>
					</div>

				</div>
				<!-- //tables -->
			</div>
      <!-- <script type="text/javascript">
            $(document).ready(function() {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
            breakpoint: 768
            });

            $('#table-swap-axis').basictable({
            swapAxis: true
            });

            $('#table-force-off').basictable({
            forceResponsive: false
            });

            $('#table-no-resize').basictable({
            noResize: true
            });

            $('#table-two-axis').basictable();

            $('#table-max-height').basictable({
            tableWrapper: true
            });
            });
            </script> -->
